<!DOCTYPE html>
<html>
<header>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>登入首頁</title>
    <style type="text/css">
        body {
            text-align: center;
        }

        .head {
            text-align: center;
            line-height: 150px;
            font-size: 40px;
            color: rgb(255, 255, 255);
            background-color: rgb(20, 37, 41);
            margin-bottom: 50px;
            width: auto;
            height: 150px;
        }
    </style>
</header>

<body>
    <div class="head">失敗頁面</div>
    <h3>{{message}}</h3>
    <div><a href="/">返回首頁</a></div>
</body>
